<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Restaurants</h1>
      <ul class="list-group">
        <% @restaurants.each do |restaurant| %>
          <li class="list-group-item"><%= link_to restaurant.name, restaurant %></li>
        <% end %>
      </ul>
      <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>
